body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #e9f2f9;
    color: #023e8a;
    text-align: center;
    padding: 30px;
}

h1 {
    color: #023e8a;
    margin-bottom: 10px;
}

form {
    background: #f8fbff;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    width: 250px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 10px 18px;
    margin-left: 8px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    background-color: #0077b6;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0096c7;
}

.result,
.error {
    background: #f8fbff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.error {
    color: red;
}

footer {
    margin-top: 30px;
    color: #6c757d;
    font-size: 13px;
}